export BUILDS_DIR := ./builds
export CONFIGS_DIR := ./configs
export CORPORA_DIR := ./corpora
export KALDI_DIR := /home/fajqa/kaldi
export SRILM_DIR := /home/fajqa/kaldi/tools/srilm

# Setting paths to useful tools
PATH := $(PATH):$(KALDI_DIR)/src/bin
PATH := $(PATH):$(KALDI_DIR)/src/featbin/
PATH := $(PATH):$(KALDI_DIR)/src/fgmmbin/
PATH := $(PATH):$(KALDI_DIR)/src/fstbin/
PATH := $(PATH):$(KALDI_DIR)/src/gmmbin/
PATH := $(PATH):$(KALDI_DIR)/src/latbin/
PATH := $(PATH):$(KALDI_DIR)/src/lmbin/
PATH := $(PATH):$(KALDI_DIR)/src/online2bin/
PATH := $(PATH):$(KALDI_DIR)/src/sgmm2bin/
PATH := $(PATH):$(KALDI_DIR)/tools/openfst/bin
PATH := $(PATH):${SRILM_DIR}/bin
PATH := $(PATH):${SRILM_DIR}/bin/i686-m64
PATH := $(PATH):$(PWD)/utils
PATH := $(PATH):$(PWD)
export PATH

# Variable needed for proper data sorting
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8